{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<script src="{% static 'js/angular.min.js' %}"></script>   

<script src="{% static 'js/my_scripts/app.js' %}"></script>                          
<script src="{% static 'js/my_scripts/controllers/list_controller.js' %}"></script>            
<script src="{% static 'js/my_scripts/controllers/quiz_controller.js' %}"></script> 
{% endblock %}

{% block nav %}  
{% endblock %}

{% block content %}  
    {% verbatim %}
    <div ng-app="turtle_facts">
        <div class="container" style="text-align:center;" ng-app="turtle_facts">
            <h2 class="title">Turtle Facts Quiz.</h2>
            <h3>
                Learn all about the turtles before you decide to take on the test.
                <strong>TURTLE QUIZ</strong>
            </h3>
        </div>
        <hr/>
        <!-- Start of List Controller -->
        <div ng-controller="list_controller as lc" ng-show="lc.state.toggle">
            <div class="container">
                <div class="row">
                    <div class="form-group bmd-form-group col-lg-3 col-sm-4">
                        <label for="exampleInput1" class="bmd-label-floating"><i class="material-icons">search</i></label>
                        <input type="text" class="form-control" id="exampleInput1" ng-model="search">
                        <span class="bmd-help">Search for the turtles.</span>
                    </div>
                    <div class="col-lg-7 col-sm5"></div>
                    <div class="col-lg-2 col-sm3">
                        <button class="btn btn-primary btn-round" ng-click="lc.activate_quiz()">
                            <i class="material-icons">favorite</i> Start Quiz
                        <div class="ripple-container"></div></button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="d in data | filter:search">
                        <div class="card">
                            <img ng-src="{{ d.image_url }}" alt="" class="card-img-top">
                            
                            <div class="card-body">
                                <h4 class="card-title">{{ d.turtle_type }}</h4>
                                <p><strong>Locations:</strong>{{ d.locations }}</p>
                                <p><strong>Size:</strong>{{ d.size }}</p>
                                <p><strong>Average Lifespan:</strong>{{ d.lifespan }}</p>
                                <p><strong>Diet:</strong>{{ d.diet }}</p>
                                <a href="" class="btn btn-primary pull-right" 
                                data-toggle="modal" 
                                data-target="#turtle_info"
                                ng-click="lc.show_details(d)">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="modal fade" id="turtle_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ lc.active_turtle.turtle_type }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img ng-src="{{ lc.active_turtle.image_url }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Location:</strong>{{ lc.active_turtle.locations }}</p>
                                    <p><strong>Size:</strong>{{ lc.active_turtle.size }}</p>
                                    <p><strong>Average Lifespan:</strong>{{ lc.active_turtle.lifespan }}</p>
                                    <p><strong>Diet:</strong>{{ lc.active_turtle.diet }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="container">
                                    <p>{{ lc.active_turtle.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of List Controller -->
        
        <!-- Start of Quiz Controller -->
        <div class="container" ng-controller="quiz_controller as qc" ng-hide="qc.state.toggle">
            <!-- Progess Section -->
            <div class="row">
                <div class="col-sm-8">
                    <h4>Progress:</h4>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="q in quiz_data" ng-class="{'btn-info': q.selected !== null, 'btn-danger': q.selected === null}" ng-click="qc.set_active_question($index)">
                            <span>{{ $index + 1 }}</span>
                            <div class="ripple-container">
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-1" style="text-align:center;">                        
                            <h6>Done:</h6>
                            <button class="btn btn-info">{{ qc.total_answered_questions }}</button>
                        </div>
                        <div class="col-sm-2"></div>                        
                        <div class="col-sm-1" style="text-align:center;">                        
                            <h6>Remaining:</h6>
                            <button class="btn btn-danger">{{ qc.unanswerd_questions }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Progess Section -->           
            <hr/>
            <!-- Display Question Section -->
            <div class="container" ng-hide="qc.finalize">
                <div class="alert alert-danger" ng-show="qc.error">
                    Error! You have not answered all of the questions!
                    <button class="close" ng-click="qc.error = false">&times;</button>
                </div>
                <h3>Question:</h3>
                <div class="row">
                    <h4>{{ qc.active_question + 1 + ". " + quiz_data[qc.active_question].text }}</h4>
                    <br/>
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-repeat="option in quiz_data[qc.active_question].possible_answers">
                        <button class="btn btn-lg" style="text-align:center; width: 80%;" ng-class="{'btn-info': $index === quiz_data[qc.active_question].selected}" ng-click="qc.select_answer($index)">
                            {{ option.text }}
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Display Question Section -->
            <div ng-show="qc.finalize">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Are you sure you want to submit all answers?</h3>
                        <button class="btn btn-success">Yes</button>
                        <button class="btn btn-danger" ng-click="qc.finalize=false">No</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="qc.finalize">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button class="btn btn-warning btn-lg" ng-click="qc.next_triggered()">Continue</button>
                </div>
            </div>
        </div>
        <!-- End of Quiz Controller -->        
    </div>
    {% endverbatim %}

{% endblock %}

{% block script %}            
{% endblock %}

{% block footer %}
{% endblock %}