{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<script src="{% static 'js/angular.min.js' %}"></script>   

<script src="{% static 'js/my_scripts/app.js' %}"></script>                          
<script src="{% static 'js/my_scripts/controllers/list_controller.js' %}"></script>            
<script src="{% static 'js/my_scripts/controllers/quiz_controller.js' %}"></script> 
{% endblock %}

{% block nav %}  
{% endblock %}

{% block content %}  
    {% verbatim %}
    <div ng-app="turtle_facts">
        <div class="container" style="text-align:center;" ng-app="turtle_facts">
            <h2 class="title">Turtle Facts Quiz.</h2>
            <h3>
                Learn all about the turtles before you decide to take on the test.
                <strong>TURTLE QUIZ</strong>
            </h3>
        </div>
        <hr/><br/><br/>
        <!-- Start of List Controller -->
        <div ng-controller="list_controller as lc" ng-show="lc.state.toggle">
            <div class="container">
                <div class="row">
                    <div class="form-group bmd-form-group col-lg-3 col-sm-4">
                        <label for="exampleInput1" class="bmd-label-floating"><i class="material-icons">search</i></label>
                        <input type="text" class="form-control" id="exampleInput1" ng-model="search">
                        <span class="bmd-help">Search for the turtles.</span>
                    </div>
                    <div class="col-lg-7 col-sm5"></div>
                    <div class="col-lg-2 col-sm3">
                        <button class="btn btn-primary btn-round" ng-click="lc.activate_quiz()">
                            <i class="material-icons">favorite</i> Start Quiz
                        <div class="ripple-container"></div></button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="d in data | filter:search">
                        <div class="card">
                            <img ng-src="{{ d.image_url }}" alt="" class="card-img-top">
                            
                            <div class="card-body">
                                <h4 class="card-title">{{ d.turtle_type }}</h4>
                                <p><strong>Locations:</strong>{{ d.locations }}</p>
                                <p><strong>Size:</strong>{{ d.size }}</p>
                                <p><strong>Average Lifespan:</strong>{{ d.lifespan }}</p>
                                <p><strong>Diet:</strong>{{ d.diet }}</p>
                                <a href="" class="btn btn-primary pull-right" 
                                data-toggle="modal" 
                                data-target="#turtle_info"
                                ng-click="lc.show_details(d)">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="modal fade" id="turtle_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ lc.active_turtle.turtle_type }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img ng-src="{{ lc.active_turtle.image_url }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Location:</strong>{{ lc.active_turtle.locations }}</p>
                                    <p><strong>Size:</strong>{{ lc.active_turtle.size }}</p>
                                    <p><strong>Average Lifespan:</strong>{{ lc.active_turtle.lifespan }}</p>
                                    <p><strong>Diet:</strong>{{ lc.active_turtle.diet }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="container">
                                    <p>{{ lc.active_turtle.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of List Controller -->
        
        <!-- Start of Quiz Controller -->
        <div ng-controller="quiz_controller as qc" ng-hide="qc.state.toggle">
            <h1>Quiz Now Activated.</h1>
        </div>
        <!-- End of Quiz Controller -->        
    </div>
    {% endverbatim %}

{% endblock %}

{% block script %}            
{% endblock %}

{% block footer %}
{% endblock %}